A.link {  font-size: 16px; color: #663399; text-decoration: none}
A.active {  font-size: 16px; font-style: normal; color: #663399; text-decoration: none}
A.visited {  font-size: 16px; color: #663399; text-decoration: none}
